/* states and images */
.ui-state-default .ui-icon { background-image: url(ui-lightness/images/ui-icons_acacac_256x240.png); }

/* Customed styles */
.ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #ececee; background: #ececee ; font-weight:normal; color: #444444 !important;}

.ui-widget-content .ui-state-hover { 
border:1px solid #e0e0e0; 
border-bottom: 1px solid #e0e0e0; 
font-weight:normal; 
color: #5e2f7f; 
background:#ececee }

/* datepicker
----------------------------------*/
.ui-datepicker { width: auto; padding:0; margin-top:5px; border:none; display: none; font-family: 'MelbourneBold', Arial, sans-serif;}
	
.hasDatepicker .ui-state-hover {
	background:#aada38;
	border:1px solid #a8d836}
	
.ui-datepicker-calendar thead {
	background:#b8b8ba;
	color:#fff;}
	
.ui-datepicker-calendar thead th {
	padding:0;
	font-size:13px;}

.ui-datepicker-calendar tbody {
	border:1px solid #ececee;
	border-collapse: collapse;}
	
.ui-datepicker-calendar tbody td  {
	font-size:17px;
	border-right:1px dotted #a8a8a9;
	border-left:1px dotted #a8a8a9;
	border-collapse: collapse;
	padding:0}

.ui-datepicker-title {
	 font-size:16px;
	 text-transform:uppercase;
	 padding:1px 0;}
	
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next   {
	top:5px}

.ui-datepicker .ui-datepicker-prev { left:4px; }
.ui-datepicker .ui-datepicker-next { right:4px; }

.ui-datepicker-header {
	border-top:3px double #222;
	border-bottom:3px double #222;}

.ui-datepicker .ui-datepicker-today a {
	background:#f0f0f1;
	border:1px solid #f0f0f1;}

.ui-datepicker .ui-datepicker-today .ui-state-active {
	background:#a8d836;
	border:1px solid #a8d836}
	
/*
.ui-datepicker .ui-datepicker-unselectable span {
	background:#ee8f7a;
	margin:0}
	
.ui-datepicker .ui-datepicker-unselectable {
	filter:alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8; 
	opacity: 0.8;}
*/
/* Selectmenu
----------------------------------*/
.ui-selectmenu { display: block; position:relative; height:32px; text-decoration: none; overflow:hidden; margin:5px 0; font-family:Arial, Helvetica, sans-serif}
.ui-selectmenu-icon { position:absolute; right:6px; margin-top:-8px; top: 50%; }
.ui-selectmenu-menu { padding:0; margin:0; list-style:none; position:absolute; top: 0; visibility: hidden; overflow: auto;font-family:Arial, Helvetica, sans-serif }
.ui-selectmenu-open { visibility: visible; background:#f8f8f9}
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu-dropdown { }
.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-bottom: 1px solid #e0e0e0;  border-top: 0px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; }
.ui-selectmenu-menu li a,.ui-selectmenu-status {line-height: 1.7em; display:block; padding:.5em 10px; outline:none; text-decoration:none;}
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { line-height: 1.4em; }
.ui-selectmenu-menu-dropdown li a:hover, .ui-selectmenu-menu-dropdown .ui-state-hover { border-top:none; color:#444444; text-decoration: none; background:#ececee; }
.ui-selectmenu-open li.ui-selectmenu-item-focus a {}
.ui-selectmenu-open li.ui-selectmenu-item-selected a { color:#444; font-weight:normal}
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-content {  }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .9; }
/*for optgroups*/
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { line-height: 1.4em; display:block; padding:.6em .5em 0; font-weight: bold; }
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; }
.ui-corner-tr { -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; }
.ui-corner-br { -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }
.ui-corner-top { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }
.ui-corner-right {  -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }
.ui-corner-left { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; }
.ui-corner-all { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }

